<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baseAdmin.mapper.T2Mapper">
  
    <select id="selectData"  resultType="Map" parameterType="java.util.Map">
    	select * from WORKORDER_INFO
    </select>    
   
  
</mapper>